*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #4c6ef5;
  --color-primary-darker: #364fc7;

  --container-min-size: 19rem;
  --container-ideal-size: 85vw;
  --container-max-size: 31rem;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  color: #333;
  min-height: 100vh;
  background-color: #eee;
}


input,
button,
textarea,
select {
  font: inherit;
}


em {
  font-style: italic;
}


.heading-primary {
  font-size: 3rem;
  letter-spacing: 1px;
  font-weight: 800;
  line-height: 1;
}



.container {
  padding: 1.5rem;
  max-width: 60rem;
  margin: 0 auto;
}

.btn {
  border: 0;
  border-radius: 9px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

/* Header */


.header {
  min-height: 9rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header__btn-container {
  display: flex;
  gap: 1.75rem;
}

.btn--heading {
  background-color: var(--color-primary);
  color: #eee;
  font-size: 1.25rem;
  padding: 0.25rem 1.25rem;
}

.btn--heading:hover,
.btn--heading:active {
  background-color: var(--color-primary-darker);
}

.btn--outline {
  background-color: #eee;
  border: 3px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--color-primary);
  color: #eee;
}

/* MAIN */

.gameboard-container {
  height: clamp(var(--container-min-size), var(--container-ideal-size), var(--container-max-size));
  max-width: 45rem;
  margin: 2.25rem auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  cursor: pointer;
}

.left {
  border-right: 3px solid var(--color-primary);
}

.right {
  border-left: 3px solid var(--color-primary);
}

.top {
  border-bottom: 3px solid var(--color-primary);
}

.bottom {
  border-top: 3px solid var(--color-primary);
}

.scores-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 8rem;
  font-size: 1.25rem;
  border-radius: 9px;
  color: #999;
}


.scores__name-and-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.scores__type {
  color: #999;
}

.scores__score {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.scores__name {
  font-weight: 600;
}

.scores--active {
  color: #000;
}

/* MODAL */

.dialog__container {
  min-height: 21rem;
  margin: auto auto;
  border: 0;
  padding: 2.5rem;
  background-color: #eee;
  border-radius: 9px;
}

.dialog__container::backdrop {
  backdrop-filter: blur(3px) brightness(0.85);
}



.dialog__form {
  font-size: 1.5rem;
}

.dialog__label,
.dialog__input {
  display: block;
}

.dialog__label {
  font-size: 1.25rem;
}

.dialog__input {
  display: block;
  margin-bottom: 1.25rem;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid var(--color-primary);

  font-weight: 600;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.dialog__input:not(:last-child) {
  margin-bottom: 1.25rem;
}

.dialog__input:focus,
.dialog__input:active {
  outline: none;
  background-color: #E9E9E9;
}

.dialog__btn-submit {
  background-color: var(--color-primary);
  color: #fff;
  padding: 0.5rem 1.25rem;
  width: 50%;
  margin: 1.75rem 0 0 3.2rem;
}

.dialog__btn-submit:hover {
  background-color: var(--color-primary-darker);
}


/* ANIMATION TO INSERT BOX */

@keyframes append-animate {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.4);
  }

  75% {
    transform: scale();
  }

  100% {
    transform: scale(1);
  }
}

.set {
  animation: append-animate .3s ease-in-out;
}